
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Product</h2>

<container>
    <div class="form-group" align="center">
        <div class="col-md-2">
            <div>
                @Html.ActionLink("Add Baton", "AddBaton", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Clothing", "AddClothing", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Firearm", "AddFirearm", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Flashlight", "AddFlashlight", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Holster", "AddHolster", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Knife", "AddKnife", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Round", "AddRound", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Scope", "AddScope", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Tazer", "AddTazer", "Admin")
            </div>
        </div>
        </div>
</container>

