
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddProduct</h2>

<container>
    <div class="form-group" align="center">
        <div class="col-md-2">
            <div>
                @Html.ActionLink("Add Baton", "AddBaton", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Clothing", "AddClothing", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Firearm", "AddFirearm", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Flashlight", "AddFlashlight", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Holster", "AddHolster", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Knife", "AddKnife", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Round", "AddRound", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Scope", "AddScope", "Admin")
            </div>
            <div>
                @Html.ActionLink("Add Tazer", "AddTazer", "Admin")
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.ActionLink("Remove Baton", "RemoveBaton", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Clothing", "RemoveClothing", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Firearm", "RemoveFirearm", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Flashlight", "RemoveFlashlight", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Holster", "RemoveHolster", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Knife", "RemoveKnife", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Round", "RemoveRound", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Scope", "RemoveScope", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Tazer", "RemoveTazer", "Admin")
            </div>
        </div>
    </div>
</container>

