
@{
    ViewBag.Title = "RemoveProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Remove Product</h2>

<container>
    <div class="form-group" align="center">
        <div class="col-md-2">
            <div>
                @Html.ActionLink("Remove Baton", "RemoveBaton", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Clothing", "RemoveClothing", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Firearm", "RemoveFirearm", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Flashlight", "RemoveFlashlight", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Holster", "RemoveHolster", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Knife", "RemoveKnife", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Round", "RemoveRound", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Scope", "RemoveScope", "Admin")
            </div>
            <div>
                @Html.ActionLink("Remove Tazer", "RemoveTazer", "Admin")
            </div>
        </div>
     </div>
</container>

